<p>view works</p>
<div class="container-small">
    <div class="row">
        <div class="col-sm-7" *ngFor="let item of allitem">
            <div *ngIf="item.newsId==id">
                <img [src]="item.image" width="100%" alt="">
                <h2>{{item.title}}</h2>
                <p>{{item.para}}</p>
            </div>
            
        </div>
        <div class="col-sm-4" >
            <ul *ngFor="let n of arr">
                <a class="h5"><li>The fake news of 14 to 15 words maximum</li> </a>
            </ul>
        </div>
    </div>
</div>
 
<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let n of arr">
            <ul>
                <a class="h2"><li>The fake news of 14 to 15 words maximum</li> </a>
            </ul>
        </div>
    </div>
</div>
    
